<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :apellido %>
    <%= f.input :correo, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: 'Confirmar contraseña:' %>
  </div>

  <div class="form-actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
